<div class="panel panel-default">
<div class="panel-heading">
Edit your profile
</div>

<div class="panel-body container" style= "width: 700px;margin-top: 50px; margin-bottom: 50px;">
  <%= render 'form'%>
</div>
