  <% @shoes.each do |shoe| %>
<div class="panel panel-info">

  <div class="panel-heading">

  <h4><%= link_to shoe.name, shoe %></h4></div>
</div>
<div class="panel-body">




    <h4>Size: <%= shoe.size %></h4>
    <h4>Shoe description: </h4>
    <p><%= shoe.description %> </p>
  <p>  <h4>Price:</h4><%= shoe.price %> </p>
  <% end %>
