  <section class="gallery">
  <% @shoes.each do |shoe| %>
     <article class="card">
        <div class="img">
          <%= image_tag shoe.photo.image.thumbnail %>
        </div>
        <div class="shoetext">
      <h2 style = "text-decoration: none; text-align:center; "><%= link_to shoe.name, shoe %></h2>
        <p><%= shoe.description %> </p>
        <p id="price">Price: </h4><%= shoe.price%> €</p>
  </div>
      </article>
   <% end %>
</section>

<div style="height: 30px;"> </div>
